/* Main CSS file */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #121212; /* Dark background for the entire page */
  color: #fff; /* Universal text color */
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem; 
  font-weight: bold; 
  margin-bottom: 20px; 
}

p {
  font-size: 1.2rem; 
  margin-bottom: 20px; 
}


.button {
  background-color: #007BFF; 
  border: none;
  padding: 12px 25px; 
  font-size: 18px; 
  font-weight: bold; 
  margin: 20px 2px; 
  text-decoration: none;
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}


.container {
  padding: 50px 20px; 
  max-width: 1200px;
  margin: 0 auto; 
  text-align: center; 
  color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.5); 
}

