/* Main CSS file */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #121212; /* Dark background for the entire page */
  color: #fff; /* Universal text color */
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

.button {
  background-color: #007BFF; /* Primary color */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.container {
  padding: 50px 20px; /* Increased padding for better focus on content */
  max-width: 1200px;
  margin: 0 auto; /* Centering the content */
  text-align: center; /* Ensure content is centered */
  background: url('../../../public/sphere-texture.jpg') no-repeat center center/cover; /* Add a background image */
  color: #fff; /* Ensures text is visible on darker backgrounds */
  border-radius: 8px; /* Optional: Adds rounded corners */
  box-shadow: 0 2px 10px rgba(0,0,0,0.5); /* Optional: Adds depth with a shadow */
}

